.body {
    background-attachment: fixed;
    background-clip: border-box;
    background-image: url('../images/forside-03.jpg');
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(15, 24, 35);
    font-family: "Sansation";
    color: rgb(102, 102, 102);
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 16px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    min-height: 634px;
    padding-left: 0px;
    padding-right: 0px;
}

.main__navigation__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 120px;
    background-color: rgba(15, 24, 35, 0.55);
    background-attachment: fixed;
}

.navbar__container,
.navigation__list,
.footer,
.footer__content,
.main__advertising__container,
.arrow__container,
.who__we__are__container,
.contact__us__container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.navigation__toggle {
    width: 100%;
    display: none;
}

.navigation__container,
.navbar__container {
    margin: 0 auto;
    height: 100%;
    ;
}

.navigation__container,
.footer__content,
.main__advertising__container {
    width: 960px;
}

.navbar__container {
    width: 100%;
}

.navigation__list {
    text-align: right;
    height: 40px;
    width: 70%;
}

.navigation__links {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-right: 7%;
}

.navigation__list__item,
.footer,
.main__advertising,
.main__advertising__button,
.who__we__are__container,
.main__icon__container,
.contact__us__container,
.pink__communication__text {
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
}

.navigation__list__item {
    color: #FFFFFF;
    line-height: 22px;
    font-size: 18px;
    letter-spacing: 0;
    position: relative;
    display: inline;
    padding: 0 9px;
}

.navigation__list__item>a,
.navigation__logo,
.logo__image {
    opacity: 1;
    color: white;
}

.navigation__logo {
    width: 21.2vw;
    height: 7.2vw;
    margin-left: 5%;
}

.navigation__list__item>a {
    text-decoration: none;
}

.logo__image {
    width: 100%;
}

.logo__image__small {
    width: 35%;
}

.main__advertising__container {
    margin: 0 auto;
    margin-top: 120px;
    flex-direction: column;
    overflow: hidden;
    height: 1%;
}

.about__us {
    margin-top: 290px;
}

.main__container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.39);
}

.main__container__text {
    padding-top: 30px;
    margin: auto auto;
    position: relative;
}

.main__advertising {
    font-size: 60px;
    color: #FFFFFF;
    margin: 48px auto 40px auto;
    letter-spacing: 3px;
    font-weight: 300;
}

.main__advertising__big {
    font-size: 72px;
    margin: 30px auto 90px auto;
}

.main__advertising__small {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 55px;
}

.main__advertising__button {
    line-height: 17px;
    color: #B3B3B3;
    width: 318px;
    height: 52px;
    margin: 30px auto 90px auto;
    font-size: 21px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 17px;
}

.main__advertising__button>p {
    margin: 16px auto;
}

.main__advertising__button:hover {
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid rgb(255, 255, 255);
}

.arrow__container {
    min-height: 120px;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.arrow__image {
    width: 100%;
    height: 100%;
}

.arrow__image__container {
    width: 50px;
    height: 10px;
}

.arrow__image__container {
    margin: 68px auto;
}

.arrow__image__container__about__us {
    margin: 210px auto 155px auto;
    width: 100px;
    height: 25px;
}

.who__we__are__container,
.who__we__are__content__container {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0;
    line-height: 40px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    padding: 130px 0;
}

.who__we__are__container__about__us {
    padding: 17vw 0 7.3vw 0;
}

.who__we__are__content__container {
    z-index: 30;
    background-color: rgba(255, 255, 255, 0);
    max-width: 780px;
    padding: 0;
}

.who__we__are__content {
    margin-left: 15%;
    align-content: left;
}

.who__we__are__content__about__us {
    padding-right: 20px;
    font-size: 22px;
}

.who__we__are__content>p {
    margin: 0;
    text-align: left;
}

.who__we__are__logo {
    z-index: 15;
    position: absolute;
    width: 280px;
    height: 240px;
    left: 40px;
    margin-top: -35px;
}

.who__we__are__logo__about__us {
    left: 0px;
    margin-top: 45px;
}

.who__we__are__logo__image {
    width: 100%;
    height: 100%;
    opacity: .9;
}

.main__icon__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    letter-spacing: 1;
    font-size: 18px;
    padding-top: 30px;
}

.flex__center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.icon__link__container {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px;
    height: 14vw;
    width: 20vw;
}

.icon__image__container {
    width: 75%;
    height: 70%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.icon__text__container>p {
    font-size: 100%;
    margin: 9% 0 0 0;
}

.icon__link__container__pink,
.pink__communication__container,
.pink__communication__container__about__us {
    background-color: rgb(232, 131, 159);
    color: #eee;
}

.icon__link__container__white {
    background-color: #eee;
    color: rgb(232, 131, 159);
}

.icon__link__container__white:hover {
    background-color: #fff;
}

.icon__link__container__pink:hover {
    background-color: rgb(255, 70, 160);
}

.white {
    background-color: #fff;
    height: 55px;
}

.our__picture__gallery__container {
    background-attachment: fixed;
    background-clip: border-box;
    background-image: url('../images/fon_2x.png');
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.our__picture__gallery {
    margin: 0 auto;
    padding: 145px 0 110px 0;
}

.picture__column__container {
    margin: 0;
}

.freak__image {
    border-bottom-right-radius: 70px;
}

.freak__icons__container {
    width: 145px;
    padding: 85px 10px 0 10px;
    background-color: rgba(0, 0, 0, 0.39);
}

.freak__icon {
    width: 130px;
    height: 90px;
    margin: 22px auto;
    border-radius: 20px;
    border: 1px solid #fff;
}

.freak__icon__big {
    width: 130px;
    height: 100px;
}

.freak__icon__image {
    width: 50%;
    height: 50%;
}

.freak__icon__image__small {
    width: 60%;
    height: 60%;
}

.freak__info {
    font-size: 21px;
    color: #fff;
}

.freak__info__name {
    margin: 18px 0 10px 30px;
}

.freak__info__job {
    height: 34px;
    background-color: #7E92AF;
    padding-left: 30px;
    padding-top: 7px;
}

.freak__info__job>p {
    width: 80%;
    margin: 0;
}

.freak__info__job>img {
    margin-left: 100px;
    margin: 0;
    height: 25px;
    width: 25px;
    width: 10%;
}

.freak__info__tel {
    margin: 10px 0 22px 30px;
}

.map__container {
    background-clip: border-box;
    background-image: url('../images/map_image.svg');
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.contact__us__container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 70, 160);
    height: 850px;
}

.to__contact__us {
    margin-top: 195px;
    font-size: 32px;
}

.contact__media__logo {
    margin-top: 60px;
    height: 118px;
    width: 482px;
}

.contact__phone__number {
    margin-top: 85px;
    text-align: center;
    border-radius: 18px;
    width: 340px;
    height: 75px;
    font-size: 40px;
    border: 1px solid rgb(255, 255, 255);
}

.contact__phone__number>p {
    margin: 24px;
}

.contact__phone__number:hover {
    border-color: rgb(255, 70, 160);
}

.contact__email {
    margin-top: 15px;
    margin-bottom: 100px;
    letter-spacing: 2px;
    font-size: 24px;
}

.contact__logo__image {
    width: 100%;
    height: 100%;
}

.pink__communication {
    width: 80%;
    margin: 0 auto;
}

.pink__communication__container {
    padding-top: 50px;
    height: 150px;
}

.pink__communication__container__about__us {
    height: 230px;
}

.pink__communication__text {
    max-width: 700px;
    margin: 0 auto;
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 33px;
    z-index: 30;
}

.pink__communication__content {
    height: 10vw;
}

.pink__contact__us {
    font-size: 1.6vw;
    font-weight: 500;
    letter-spacing: 0.3vw;
    margin: 0.72vw 0;
}

.pink__telephone__us {
    font-size: 5.1vw;
    font-weight: 100;
    letter-spacing: 0.72vw;
    margin-top: 3.4vw;
}

.logo__image__about {
    width: 100%;
    height: 100%;
}

.footer__navigation__container {
    background-color: rgb(58, 61, 72);
    height: 455px;
}

.footer__navigation {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    margin: 0 auto;
    width: 960px;
}

.footer__navigation__list__container {
    width: 28%;
    margin-top: 10px;
}

.footer__navigation__list__container>p {
    margin: 40px 0 30px 0;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 3%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.footer__navigation__list__container:last-child {
    margin-left: 11%;
    width: 33%;
}

.footer__navigation__list {
    list-style-type: none;
    padding-left: 3%;
}

.footer__navigation__list>li>a {
    text-decoration: none;
    color: #eee;
    font-size: 18px;
    font-weight: 100;
}

.footer__navigation__list>li {
    line-height: 36px;
}

.footer__navigation__list>.footer__navigation__list__first>a {
    font-size: 23px;
    line-height: 5px;
}

.footer {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #1C1C1C;
    color: #B3B3B3;
    line-height: 19px;
    font-size: 16px;
}

.footer__content {
    margin: 0 auto;
}

.footer__text,
.footer__arrow {
    position: relative;
}

.footer__text {
    width: 85%;
}

.footer__arrow {
    width: 15%;
}

@media screen and (max-width: 1284px) {
    .icon__link__container {
        width: 19.8vw;
        padding-bottom: 25px;
    }
    .icon__text__container>p {
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 1172px) {
    .icon__link__container {
        width: 19vw;
        padding-bottom: 15px;
    }
    .icon__text__container>p {
        font-size: 1.3vw;
    }
    .who__we__are__logo__about__us {
        left: 20px;
        margin-top: 45px;
        width: 220px;
        height: 200px;
    }
}

@media screen and (max-width: 1070px) {
    .icon__link__container {
        width: 19.1vw;
        height: 15.3vw;
    }
    .icon__text__container>p {
        font-size: 1.4vw;
    }
    .icon__image__container {
        width: 50%;
        height: 45%;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1016px) {
    .icon__link__container {
        width: 18.8vw;
        height: 14.9vw;
    }
    .pink__telephone__us {
        margin-top: 2vw;
    }
}

@media screen and (max-width: 980px) {
    .footer-content,
    .navigation__container,
    .main__advertising__container,
    .who__we__are__container,
    .main__icon__container,
    .footer__navigation,
    .pink__communication__text {
        width: 100%;
    }
    .main__container__text {
        padding-top: 0;
        margin: 80px auto 10px auto;
    }
    .main__advertising {
        font-size: 3.3em;
        margin: 7.8%;
    }
    .main__advertising__small {
        font-size: 28px;
    }
    .main__advertising__big {
        font-size: 58px;
    }
    .main__advertising__container {
        height: 555px;
    }
    .main__advertising__button>p {
        margin: 18px auto;
    }
    .main__advertising__button {
        margin: 0 0 125px 0;
    }
    .arrow__container {
        height: 300px;
    }
    .arrow__image__container {
        margin: 120px auto;
        width: 104px;
        height: 20px
    }
    .arrow__image {
        width: 80px;
        height: 15px
    }
    .sandwich__image {
        width: 40px;
        height: 12px
    }
    .footer__navigation__list__container:first-child {
        margin-left: 25px;
    }
    .footer__navigation__list__container:last-child {
        margin-right: 15px;
    }
    .who__we__are__logo__about__us {
        left: 10px;
        margin-top: 65px;
        width: 180px;
        height: 160px;
    }
}

@media screen and (max-width: 967px) {
    .icon__link__container {
        width: 18.6vw;
        height: 14.8vw;
    }
}

@media screen and (max-width: 938px) {
    .icon__link__container {
        width: 18vw;
        padding-bottom: 8px;
    }
    .icon__text__container>p {
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 860px) {
    .icon__link__container {
        width: 25.4vw;
        height: 20.4vw;
        padding-bottom: 10px;
    }
    .icon__image__container {
        width: 50%;
        height: 45%;
    }
    .icon__text__container>p {
        font-size: 14px;
        margin: 0 0 10px 0;
    }
    .navigation__list__item {
        padding: 8px;
        font-size: 16px;
    }
    .navigation__logo {
        width: 23vw;
        height: 8vw;
        margin-left: 5%;
    }
    .who__we__are__content {
        margin-left: 150px;
        padding-right: 80px;
    }
    .who__we__are__content__about__us {
        margin-left: 40px;
        padding-right: 20px;
    }
    .who__we__are__container {
        padding-top: 95px;
        padding-bottom: 110px;
    }
    .who__we__are__logo {
        width: 220px;
        height: 180px;
        left: 5px;
        margin-top: -25px;
    }
    .who__we__are__logo__about__us {
        left: 10px;
        margin-top: 15px;
        width: 180px;
        height: 160px;
    }
    .contct__us__container {
        height: 800px;
    }
    .to__contact__us {
        margin-top: 160px;
        margin-bottom: 10px;
        letter-spacing: 4px;
    }
    .contact__media__logo {
        margin-top: 65px;
        height: 95px;
        width: 400px;
    }
    .contact__phone__number {
        margin-top: 95px;
    }
    .contact__email {
        margin-bottom: 155px;
        margin-top: 30px;
    }
    .pink__communication__container {
        height: 150px;
    }
    .pink__communication__text {
        max-width: 620px;
    }
    .footer__navigation__container {
        height: 430px;
    }
    .footer__navigation__list__container {
        margin-top: 0;
    }
    .footer__navigation__list__container:first-child {
        margin-top: 0;
        margin-left: 25px;
        width: 170px;
    }
    .footer__navigation__list__container:last-child {
        margin-left: 5%;
        width: 33%;
    }
    .footer__navigation {
        color: #aaa;
    }
    .footer__content {
        padding-left: 2%;
    }
    .footer {
        color: #aaa;
        font-size: 13px;
    }
    .logo__image__small {
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width: 761px) {
    .navigation__list {
        display: none;
    }
    .navigation__logo {
        width: 36%;
        margin: 10px auto;
    }
    .main__navigation__container {
        height: 135px;
    }
    .navbar__container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .main__container {
        margin-top: 135px;
    }
    .navigation__toggle {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .icon__link__container {
        width: 41vw;
        height: 27vw;
        padding-bottom: 30px;
    }
    .who__we__are__content {
        padding-right: 50px;
    }
    .pink__telephone__us {
        margin-top: 1vw;
    }
    .pink__communication__content {
        text-align: center;
    }
}

@media screen and (max-width: 713px) {
    .icon__link__container {
        width: 39vw;
        height: 27vw;
        padding-bottom: 30px;
    }
    .icon__text__container>p {
        font-size: 2.6vw;
        margin-top: 9%;
    }
    .icon__image__container {
        width: 75%;
        height: 70%;
    }
    .to__contact__us {
        padding: 0 30px;
        font-size: 30px;
        line-height: 50px;
        letter-spacing: 4px;
    }
}

@media screen and (max-width: 654px) {
    .footer__navigation__container {
        height: 450px;
    }
    .pink__communication__text {
        width: 90vw;
    }
    .pink__communication__container {
        padding-top: 20px;
    }
}

@media screen and (max-width: 625px) {
    .icon__link__container {
        width: 38vw;
    }
    .footer__navigation__container {
        height: 500px;
    }
    .who__we__are__content__about__us>p {
        font-size: 22px;
        line-height: 34px;
    }
}

@media screen and (max-width: 570px) {
    .icon__link__container {
        width: 37vw;
        padding-bottom: 8px;
    }
    .icon__image__container {
        width: 55%;
        height: 50%;
    }
}

@media screen and (max-width: 510px) {
    .icon__link__container {
        width: 34vw;
        padding-bottom: 10px;
    }
    .icon__text__container>p {
        font-size: 2.4vw;
    }
    .navigation__list {
        display: none;
    }
    .navigation__logo {
        width: 45%;
        margin: 15px auto;
    }
    .main__navigation__container {
        height: 135px;
    }
    .navbar__container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .main__container {
        margin-top: 135px;
    }
    .navigation__toggle {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .main__advertising {
        font-size: 46px;
        font-weight: 100;
    }
    .main__advertising__small {
        font-size: 24px;
    }
    .main__advertising__big {
        font-size: 54px;
    }
    .main__container__text {
        padding-top: 10px;
    }
    .main__advertising__button {
        margin-bottom: 155px;
        width: 180px;
        height: 80px;
    }
    .main__advertising__button>p {
        margin: 10px;
        line-height: 30px;
        color: #fff;
    }
    .main__advertising__container {
        height: 585px;
    }
    .arrow__container {
        height: 220px;
    }
    .arrow__image__container {
        margin: 100px auto;
    }
    .who__we__are__content__container {
        font-size: 20px;
    }
    .who__we__are__content {
        padding: 0;
        margin: auto 70px;
        text-align: center;
    }
    .who__we__are__logo {
        width: 220px;
        height: 180px;
        left: 15px;
    }
    .icon__link__container {
        width: 37vw;
        height: 30vw;
        padding-bottom: 10px;
    }
    .to__contact__us {
        margin-top: 200px;
        padding: 0 30px;
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 30px;
        letter-spacing: 4px;
    }
    .contact__phone__number {
        margin-top: 135px;
    }
    .contact__email {
        margin-top: 40px;
        margin-bottom: 175px;
    }
    .contact__logo__image {
        width: 87%;
        height: 87%;
    }
    .contact__us__container {
        height: 1040px;
    }
    .pink__communication__container {
        height: 330px;
        padding-top: 50px;
    }
    .pink__communication__text {
        margin-top: 50px;
        font-size: 24px;
    }
    .footer__navigation__list__container:first-child,
    .footer__navigation__list__container:last-child {
        display: none;
    }
    .footer__navigation__list__container>p {
        font-size: 26px;
        margin-bottom: 45px;
    }
    .footer__navigation__list__container {
        width: 70%;
        margin: 30px auto;
    }
    .footer__navigation__container {
        height: 950px;
    }
    .footer__navigation__list>li>a {
        font-size: 26px;
        line-height: 50px;
    }
    .footer {
        height: 110px;
        font-size: 16px;
    }
    .footer__arrow {
        position: absolute;
        z-index: 10;
        left: 40%;
        top: -100%;
    }
    .footer__text {
        margin: 0 auto;
    }
    .logo__image__small {
        width: 70%;
        height: 70%;
    }
}

@media screen and (max-width: 461px) {
    .icon__link__container {
        width: 35vw;
        padding-bottom: 10px;
    }
    .main__advertising {
        font-size: 36px;
    }
    .main__advertising__big {
        font-size: 74px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 399px) {
    .icon__link__container {
        width: 34vw;
    }
    .pink__communication__text {
        margin-top: 5%;
        font-size: 24px;
    }
    .main__advertising__big {
        font-size: 54px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 374px) {
    .icon__link__container {
        width: 33vw;
    }
    .contact__media__logo {
        width: 300px;
        height: 68px;
    }
    .contact__email {
        font-size: 18px;
    }
    .main__advertising__small {
        font-size: 24px;
    }
}

@media screen and (max-width: 352px) {
    .icon__link__container {
        width: 31vw;
        padding-bottom: 10px;
    }
    .main__advertising {
        font-size: 26px;
        font-weight: 100;
    }
    .main__advertising__big {
        font-size: 44px;
    }
}

@media screen and (min-width: 1275px) {
    .pink__contact__us {
        font-size: 20px;
        letter-spacing: 3.8px;
    }
    .pink__telephone__us {
        font-size: 65px;
        letter-spacing: 9px;
    }
}

@media screen and (min-width: 1012px) {
    .who__we__are__logo {
        left: 6vw;
    }
}

@media screen and (min-width: 1112px) {
    .who__we__are__logo {
        left: 9vw;
    }
}

@media screen and (min-width: 1177px) {
    .who__we__are__logo {
        left: 11vw;
    }
}

@media screen and (min-width: 1230px) {
    .who__we__are__logo {
        left: 13vw;
    }
}

@media screen and (min-width: 1340px) {
    .who__we__are__logo {
        left: 15vw;
    }
}

@media screen and (min-width: 1400px) {
    .who__we__are__logo {
        left: 17vw;
    }
}

.who__we__are__logo__small {
    width: 180px;
    height: 140px;
    margin-top: -25px;
}