<div class="who__we__are__container">
        <div class="who__we__are__content__container">
            <div class="who__we__are__content">
                <p>{{text}}</p>
            </div>
        </div>
    </div>