<div class="contact__us__container">
        <div class="to__contact__us">
            <p>{{ title }}</p>
        </div>
        <div class="contact__media__logo">
            <img class="contact__logo__image" src="./images/pasted svg 481658x117_poster_.png" />
        </div>
        <div class="contact__phone__number">
            <p>{{ phone }}</p>
        </div>
        <div class="contact__email">
            <p>{{ email }}</p>
        </div>
    </div>