    <div class="main__container">
        <div class="main__advertising__container">
            <div class="main__container__text">
                {{#each this}}
                <p class="main__advertising">{{this}}</p>
                {{/each}}
            </div>
            <div class="main__advertising__button">
                <p>ПРЕДЛАГАНИ УСЛУГИ</p>
            </div>
        </div>
    </div>
    <div id="arrow" class="arrow__container">
        <div class="arrow__image__container">
            <img class="arrow__image" src="./images/down_arrow.png" />
        </div>
    </div>