    <div class="main__container">
        <div class="main__advertising__container">
            <div class="main__container__text">
                {{#each adversting}}
                <p class="main__advertising">{{text}}</p>
                {{/each}}
            </div>
            <div class="main__advertising__button">
                <p>{{buttonText}}</p>
            </div>
        </div>
    </div>