<div class="main__icon__container">
    <div id="icon__link__1" class="icon__link__container icon__link__container__pink">
        <div class="icon__image__container">
            <img class="icon__image" src="./images/i_comp_white.svg" />
        </div>
        <div class="icon__text__container">
            <p>{{text}}</p>
        </div>
    </div>
</div>