<div class="main__icon__container">
    {{#each icon}}
    <div id="icon__link__container" class="icon__link__container">
        <div class="icon__image__container">
            <img class="icon__image" src="./images/i_comp_white.svg" />
        </div>
        <div class="icon__text__container">
            <p>{{text}}</p>
        </div>
    </div>
    {{/each}}
</div>